html body
{
    margin: 0px;
    background-color: black;
    filter: blur(100%);
    width: 100%;
    height: 100%;
}
body > img
{
    z-index: -10;
    height: 100%;
    width: 100%;
    opacity: 0.1;
    position: absolute
}
#header
{

    position: absolute;
    

    width: 100%;
    height: 7%;
    
    color: wheat;
    display: flex;

    box-sizing: border-box;
}
#header > div 
{
    height: 100%;
    width: 5%;
    min-width: fit-content;
    display: flex;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    float: left;
    background-color: black;
    box-sizing: border-box;
    padding: 10px;
}
#header > div:hover
{
    background-color: darkolivegreen;
}
#header > div:active
{
    background-color: blue;
}
#Project
{
    position: absolute;
    top: 7%;
    left: 0;
    width: 100%;
    height:  80%;
  
    color: wheat;
    
    
    

}
#Project > #AP1
{
    position: absolute;
    height: 10%;
    width: 100%;
    font-size: 2em;
    top: 0%;
    margin: 0px;
    display: flex;
    justify-content: center;
    
   
}
.project
{
    padding: 20px;
    width: 33%;
    top: 10%;
    position: relative;
    height: 40%;
    
    box-sizing:border-box;
    float: left;
    
    
    
}
.project > #Name
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 40px);
    height: 15%;
    color: wheat;
    border: 1px solid rgb(25, 25, 109); 
    box-sizing: border-box;
    position: absolute;
}
.project > #Desc 
{
    width: calc(100% - 40px);
    height: 55%;
    color: wheat;
    border: 1px solid rgb(25, 25, 109); 
    box-sizing: border-box;
    position: absolute;
    top: calc(15% + 20px);
    overflow-y: auto;
    
}
#Play
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 15%;
    color: wheat;
    border: 1px solid rgb(25, 25, 109); 
    box-sizing: border-box;
    position: absolute;
    top: 83%;
    left: 40%;
    
}
#Play:hover
{
    background-color: darkolivegreen;
}
#Play:active
{
    background-color: blue;
}
#Blog
{
    position: absolute;
    top: 7%;
    left: 0;
    width: 100%;
    height:  80%;
    display: none;
    color: wheat;
}
#Blog > #AP1
{
    position: relative;
    height: 10%;
    width: 100%;
    font-size: 1.5em;
    top: 0%;
    float: left;
    margin: 0px;
    display: flex;
    justify-content: center;
    
   
}
a
{
    color: beige;
}


@media only screen and (max-device-width: 480px) {
.project
{
    margin: 20px;
    width: 90%;
    top: 10%;
    position: relative;
    height: 40%;
    overflow-y: scroll;
    float: left;
    
    
    
}
}